@model IEnumerable<Domain.Receita>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div id="Categorias">
    <ul class="pagination pagination-lg justify-content-center" style="margin:20px 0">
        @foreach (Categoria item in ViewBag.Categorias)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-controller="Receita" asp-route-id="@item.Id">
                    @item.Nome
                </a>
            </li>
        }
    </ul>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempoDePreparo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rendimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempoDePreparo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rendimento)
            </td>
            <td>
                <a asp-action="AddIngredientes" asp-route-id="@item.Id">Ingredientes</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
