@model Domain.ProdutoFinal

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProdutoFinal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Custo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Custo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrazoValidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrazoValidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
